In [182]:
# import the required packages first
import pandas as pd

In [183]:
Original_ExternalDescriptor= pd.read_csv('/Users/Sara/Desktop/git_101/FooDB/CompoundExternalDescriptor.csv')
Original_ExternalDescriptor.info()
Original_ExternalDescriptor.head(7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4009 non-null   int64
 1   external_id  4009 non-null   object
 2   annotations  4009 non-null   object
 3   compound_id  4009 non-null   int64
 4   creator_id   0 non-null      float64
 5   updater_id   0 non-null      float64
 6   created_at   4009 non-null   object
 7   updated_at   4009 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 250.7+ KB

,id,external_id,annotations,compound_id,creator_id,updater_id,created_at,updated_at
0,1,CHEBI:6584,anthocyanidin cation\n,78,NaN,NaN,2015-02-23 22:40:02 UTC,2015-02-23 22:40:02 UTC
1,2,C08652,Anthocyanidins and anthocyanins\n,78,NaN,NaN,2015-02-23 22:40:02 UTC,2015-02-23 22:40:02 UTC
2,3,CPD-11945,a small molecule\n,78,NaN,NaN,2015-02-23 22:40:02 UTC,2015-02-23 22:40:02 UTC
3,4,LMPK12120534,Chalcones and dihydrochalcones\n,87,NaN,NaN,2015-02-23 22:40:07 UTC,2015-02-23 22:40:07 UTC
4,5,CHEBI:76132,polyphenol\ngallate ester\ncatechin\n,97,NaN,NaN,2015-02-23 22:40:09 UTC,2015-02-23 22:40:09 UTC
5,6,LMPK12020089,"Flavans, Flavanols and Leucoanthocyanidins\n",97,NaN,NaN,2015-02-23 22:40:09 UTC,2015-02-23 22:40:09 UTC
6,7,CHEBI:18010,trihydroxyflavone\ndimethoxyflavone\n,176,NaN,NaN,2015-02-23 22:40:15 UTC,2015-02-23 22:40:15 UTC

In [184]:
len(Original_ExternalDescriptor.compound_id.unique())
Processed_ExternalDescriptor= Original_ExternalDescriptor.drop(columns=['id','annotations','creator_id','updater_id','created_at','updated_at','external_id'], axis=1)
Main= Processed_ExternalDescriptor.drop_duplicates()
Main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2553 entries, 0 to 4007
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   compound_id  2553 non-null   int64
dtypes: int64(1)
memory usage: 39.9 KB

In [189]:
ChEBI= Original_ExternalDescriptor.loc[Original_ExternalDescriptor.external_id.str.contains('CHEBI'),['compound_id','external_id']]
ChEBI.rename(columns={'external_id':'ChEBI'}, inplace=True)
print(ChEBI)

      compound_id        ChEBI
0              78   CHEBI:6584
4              97  CHEBI:76132
6             176  CHEBI:18010
11            275  CHEBI:75489
12            316  CHEBI:41941
...           ...          ...
3993        29771  CHEBI:73723
3996        29778  CHEBI:78759
3999        29781  CHEBI:71465
4001        29974  CHEBI:50399
4004        29977  CHEBI:69437

[1816 rows x 2 columns]

In [190]:
ChEBI.loc[ChEBI.compound_id.duplicated()]

      compound_id        ChEBI
319          1161  CHEBI:62084
1061         8291  CHEBI:19092

In [191]:
ChEBI.loc[ChEBI.compound_id.isin(ChEBI.loc[ChEBI.compound_id.duplicated()].compound_id)].groupby('compound_id').agg({'ChEBI':','.join})

                               ChEBI
compound_id
1161         CHEBI:47962,CHEBI:62084
8291         CHEBI:33135,CHEBI:19092

In [192]:
ChEBI_new= ChEBI.groupby('compound_id').agg({'ChEBI':','.join})
print(ChEBI_new)

                   ChEBI
compound_id
78            CHEBI:6584
97           CHEBI:76132
176          CHEBI:18010
275          CHEBI:75489
316          CHEBI:41941
...                  ...
29771        CHEBI:73723
29778        CHEBI:78759
29781        CHEBI:71465
29974        CHEBI:50399
29977        CHEBI:69437

[1814 rows x 1 columns]

In [197]:
KEGG= Original_ExternalDescriptor.loc[Original_ExternalDescriptor.external_id.str.contains(r'^[C]\d{5}$'),['compound_id','external_id']]
KEGG.rename(columns={'external_id':'KEGG'}, inplace=True)
print(KEGG)

      compound_id    KEGG
1              78  C08652
7             176  C01265
16            362  C00951
25            433  C00483
27            435  C02442
...           ...     ...
3991        29766  C13829
3997        29778  C13914
4002        29974  C14313
4005        29977  C10510
4007        30091  C10504

[656 rows x 2 columns]

In [198]:
KEGG.loc[KEGG.compound_id.isin(KEGG.loc[KEGG.compound_id.duplicated()].compound_id)].groupby('compound_id').agg({'KEGG':','.join})

Empty DataFrame
Columns: [KEGG]
Index: []

In [200]:
Lipidmaps_Keywords= ['LMPK','LMFA','LMST','LMGP','LMSP','LMGL','LMPR']
Lipidmaps= Original_ExternalDescriptor.loc[Original_ExternalDescriptor.external_id.str.startswith(tuple(Lipidmaps_Keywords)),['compound_id','external_id']]
Lipidmaps.rename(columns={'external_id':'Lipidmaps'}, inplace=True)
print(Lipidmaps)

      compound_id     Lipidmaps
3              87  LMPK12120534
5              97  LMPK12020089
8             176  LMPK12112731
10            218  LMPK12113021
17            362  LMST02010001
...           ...           ...
3998        29778  LMSP01070001
4000        29781  LMFA08040043
4003        29974  LMPK12050055
4006        29977  LMPK12050251
4008        30091  LMPK12100004

[1049 rows x 2 columns]

In [201]:
Lipidmaps.loc[Lipidmaps.compound_id.isin(Lipidmaps.loc[Lipidmaps.compound_id.duplicated()].compound_id)].groupby('compound_id').agg({'Lipidmaps':','.join})

Empty DataFrame
Columns: [Lipidmaps]
Index: []

In [145]:
BioCyc= Original_ExternalDescriptor.loc[Original_ExternalDescriptor.external_id.str.startswith('CPD'),['compound_id','external_id']]
BioCyc.rename(columns={'external_id':'BioCyc'}, inplace=True)
print(BioCyc)

      compound_id     BioCyc
2              78  CPD-11945
14            358  CPD-10596
45            453  CPD-12479
54            470  CPD0-2189
87            578  CPD-13041
...           ...        ...
3908        29044    CPD-387
3912        29050   CPD-4609
3950        29358  CPD-10687
3963        29471  CPD-12574
3967        29505  CPD0-1675

[250 rows x 2 columns]

In [202]:
BioCyc.loc[BioCyc.compound_id.isin(BioCyc.loc[BioCyc.compound_id.duplicated()].compound_id)].groupby('compound_id').agg({'BioCyc':','.join})

Empty DataFrame
Columns: [BioCyc]
Index: []

In [147]:
x= ['CHEBI','LMPK','LMFA','LMST','LMGP','LMSP','LMGL','LMPR','CPD']
Unkown_db_= Original_ExternalDescriptor.loc[~Original_ExternalDescriptor.external_id.str.startswith(tuple(x)),['compound_id','external_id']]
Unkown_db= Unkown_db_.loc[~Unkown_db_.external_id.str.contains(r'^[C]\d{5}$'),['compound_id','external_id']]

In [148]:
Unkown_db.rename(columns={'external_id':'Unkown_db'}, inplace=True)
print(Unkown_db)

      compound_id                           Unkown_db
9             176  345-TRIHYDROXY-37-DIMETHOXYFLAVONE
30            436                        SANGUINARINE
36            442                   2-HYDROXYDAIDZEIN
48            455                3-7-DIMETHYLXANTHINE
66            520    NALPHANALPHANALPHA-TRIMETHYL-L-H
...           ...                                 ...
3884        28974                    3-DE-H-CARNITINE
3898        29023               DIMETHYLARSINOUS-ACID
3924        29083                  TRIMETHYLSULFONIUM
3953        29384                                FE+3
3958        29424                            PARAOXON

[238 rows x 2 columns]

In [203]:
Unkown_db.loc[Unkown_db.compound_id.isin(Unkown_db.loc[Unkown_db.compound_id.duplicated()].compound_id)].groupby('compound_id').agg({'Unkown_db':','.join})

Empty DataFrame
Columns: [Unkown_db]
Index: []

## Merging all dfs

In [194]:
df0= pd.merge(left=Main, right=ChEBI_new, how='left', on= 'compound_id')
df0

      compound_id        ChEBI
0              78   CHEBI:6584
1              87          NaN
2              97  CHEBI:76132
3             176  CHEBI:18010
4             218          NaN
...           ...          ...
2548        29778  CHEBI:78759
2549        29781  CHEBI:71465
2550        29974  CHEBI:50399
2551        29977  CHEBI:69437
2552        30091          NaN

[2553 rows x 2 columns]

In [209]:
df1= pd.merge(left=df0, right=KEGG, how='left', on= 'compound_id')
df2= pd.merge(left=df1, right=Lipidmaps, how='left', on= 'compound_id')
df3= pd.merge(left=df2, right=BioCyc, how='left', on= 'compound_id')
df4= pd.merge(left=df3, right=Unkown_db, how='left', on= 'compound_id')
df4.head(5)

,compound_id,ChEBI,KEGG,Lipidmaps,BioCyc,Unkown_db
0,78,CHEBI:6584,C08652,NaN,CPD-11945,NaN
1,87,NaN,NaN,LMPK12120534,NaN,NaN
2,97,CHEBI:76132,NaN,LMPK12020089,NaN,NaN
3,176,CHEBI:18010,C01265,LMPK12112731,NaN,345-TRIHYDROXY-37-DIMETHOXYFLAVONE
4,218,NaN,NaN,LMPK12113021,NaN,NaN

In [208]:
df4.to_csv('Descriptors_modified.csv')